h1 {
    margin-left: 10px;
}
h1 a, h1 a:hover, h1 a:active {
    color: #000000;
}

#sidebar {
    background-color: #eee;
}

#sidebar ul.nav-list {
    padding: 0px;
}

#sidebar ul.nav-list li a {
    border-left: none;
    position: relative;
    padding: 15px 0px 15px 15px;
    margin: 0px;
}

#sidebar {
    border-right: 1px solid #eeeeee;
    margin-right: -1px;
    padding-bottom: 30px;
}

ul.nav-list li.active {
    position: relative;
    margin-right: -10px;
}

ul.nav-list li.active:after {
    content: '.';
    border: 10px solid #0078b5;
    position: absolute;
    right: 0px;
    font-size: 0px;
    border-right-color: transparent;
    border-left: none;
    border-bottom: none;
}