h1 {
    margin-left: 10px;
}
h1 a, h1 a:hover, h1 a:active {
    color: #000000;
}

#sidebar {
    background-color: #eee;
    margin-right: 10px;
}

#sidebar ul.nav-list {
    padding: 0px;
}

#sidebar ul.nav-list li a {
    border-left: none;
    position: relative;
    padding: 15px 0px 15px 15px;
    margin: 0px;
    text-shadow: 1px 1px 1px #ffffff;
}

#sidebar ul.nav-list li.active a {
    text-shadow: 1px 1px 1px #000000;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-left: 30px;
}

#sidebar {
    border-right: 1px solid #eeeeee;
    margin-right: -1px;
    padding-bottom: 30px;
}

ul.nav-list li.active {
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
}

ul.nav-list li.active a:before {
    content: '.';
    border: 15px solid #006091;
    border-width: 8px 15px;
    position: absolute;
    left: 0px;
    font-size: 0px;
    border-left-color: transparent;
    border-right: none;
    border-top: none;
    top: -8px;
    height: 0px;
}

ul.nav-list li.active:after {
    content: '.';
    border: 15px solid #006091;
    border-width: 8px 15px;
    position: absolute;
    right: 0px;
    font-size: 0px;
    border-right-color: transparent;
    border-left: none;
    border-bottom: none;
}